@model SinemaOtomasyonu.Models.Musteri
@{
    Layout = "_Layout_Musteri";
    ViewData["Title"] = "Bilgiler";
    var musteriSession = Context.Session.GetObjectFromJson<Musteri>("Musteri");
}
<h1>Bilgiler : @musteriSession.KullaniciAdi</h1>
<hr />
<div class="row">
    <form asp-controller="Musteri" asp-action="Bilgiler">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KullaniciAdi" class="control-label"></label>
                <input asp-for="KullaniciAdi" class="form-control" />
                <span asp-validation-for="KullaniciAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sifre" class="control-label"></label>
                <input value="@musteriSession.Sifre" asp-for="Sifre" class="form-control" />
                <span asp-validation-for="Sifre" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Yas" class="control-label"></label>
                <input asp-for="Yas" class="form-control" />
                <span asp-validation-for="Yas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cinsiyet" class="control-label"></label>
                <select asp-for="Cinsiyet" class="form-control">
                    <option value="true">Erkek</option>
                    <option value="false">Kadın</option>
                </select>
                <span asp-validation-for="Cinsiyet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Maas" class="control-label"></label>
                <input asp-for="Maas" class="form-control" />
                <span asp-validation-for="Maas" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Bilgileri Kaydet</button>
        </div>
    </form>
</div>
<div>
    <a asp-action="Index">Ana Sayfaya Dön</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }